/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url('https://th.bing.com/th/id/OIP.8LbPxe2OsYnmO7ajjAlrzAHaE7?w=230&h=180&c=7&r=0&o=5&dpr=1.8&pid=1.7'); */
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Home Page Container */
.home-container {
  width: 100%;
  margin: 0 auto;
}

/* Hero Section */
.hero-section {
  background-color: white;
  color: #333;
  padding: 80px 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-section h1 span {
  color: #f39c12;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #e67e22;
}

